<div id="prompt-area" class="prompt-area">
  <div class="prompt-card">
    <%= round.prompt_card.content %>
  </div>
  <div id="submit-progress" class="submit-progress">
    0 / <%= round.non_judge_players.count %> submitted
  </div>
</div>
